.header_nav_wrap {
    width: 100%;
    height: 70px;
    background: #472424;
    .header_nav {
        width: 1200px;
        height: 70px;
        background: #472424;
        margin: auto;
    }
    .header_nav_bar {
        float: left;
    }
    .header_nav_bar li,
    .header_nav_bar_right li {
        display: inline-block;
        margin-left: -5px;
        padding: 10px;
        font-family: 'TruenoLt';
        font-size: 13pt;
        line-height: 50px;
        color: white;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
            background: #ff7373;
        }
    }
    .header_nav_bar_right {
        float: right;
        height: 70px;
    }
    .header_nav_bar_right li:first-child {
        padding-left: 40px;
    }

    .cup {
        position: absolute;
        margin-top: -47px;
        width: 25px;
        height: 25px;
        background-image: url(../img/cut.png);
    }
}
